@mixin wrapper($dflex: flex, $align: center, $justify: space-between, $gap: 0 ) {
    display: $dflex;
    align-items: $align;
    justify-content: $justify;
}

@function tint($color, $percent: $mix-percent-default){
	@return mix(white, $color, $percent);
}