@use 'utils/_mixins' as mixin;
:root {
    --black: #000;
    --gray: #838383;
    --accent: #BAFE35;
    --light-gray: #F9F9F9;
    --mid-gray: #F4F4F4;
    --error: #e64832;
}

.wrapper {
    @include mixin.wrapper;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0 2em;
    height: 68px;
    border: none;
    border-radius: 1em;
    font-family: 'Stolzl';
    gap: .5em;
    font-weight: 500;
    letter-spacing: 0.35px;
    cursor: pointer;
    position: relative;
    svg {
        width: 22px;
        height: 22px;
    }
    &.btn--primary {
        background-color: var(--black);
        color: #fff;
        overflow: hidden;
        position: relative;
        &:after {
            background: #ffffff;
            content: "";
            height: 155px;
            left: -75px;
            opacity: .35;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
            width: 40px;
            z-index: 0;
          }
          &:hover {
  
            &:after {
              left: 120%;
              transition: all 650ms cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
        svg path {
            fill: #fff;
        }
        svg {
            stroke: #fff;
        }
    }
    &.btn--accent {
        color: var(--black);
        background-color: var(--accent);
        border-color: var(--black);
        transition: all 0.15s;
        &:after {
            background: #fff;
            content: "";
            height: 155px;
            left: -75px;
            opacity: .25;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
            width: 50px;
            z-index: 0;
          }
          &:hover {
  
            &:after {
              left: 120%;
              transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
        svg path {
            fill: var(--black);
        }
        svg {
            stroke: var(--black);
        }
    }
    @media screen and (max-width: 1350px) {
        height: 56px;
        padding: 0 24px;
    }
    @media screen and (max-width: 1250px) {
        font-size: 14px;
        padding: 0 16px;
    }
}

a.hovered {
    position: relative;
    z-index: 1;
    width: fit-content;
    &::before {
        content: "";
        position: absolute;
        bottom: 0px;
        height: 12px;
        left: -1px;
        right: -1px;
        transform-origin: 50% 100%;
        transform: scale(0.98, 0) translateZ(0px);
        backface-visibility: hidden;
        z-index: -1;
        display: inline-block;
        background: 0% 0% / 100% 100% repeat-x rgb(186, 254, 53);
        transition: transform 0.38s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &:hover {
        &::before {
            transform: scale(1) translateZ(0px);
        }
    }
    &.gray {
        &::before {
            background: 0% 0% / 100% 100% repeat-x var(--gray);
        }
    }
}

a.underlined {
    position: relative;
    z-index: 1;
    width: fit-content;
    display: block;
    &:before {
        content: "";
        position: absolute;
        bottom: 0px;
        height: 1px;
        left: -1px;
        right: -1px;
        background-color: var(--black);
    }
}

.spacer {
    display: block;
    &.spacer--8 {
        height: 8em;
    }
    &.spacer--12 {
        height: 12em;
    }
}

@media screen and (max-width: 1024px) {
    .spacer.spacer--12 {
        height: 10em;
    }
}

