@use 'utils/_mixins' as mixin;
:root {
    --black: #000;
    --light-black: #1F1F1F;
    --dark-bg: #16171a;
    --accent: #BAFE35;
    --white: #fff;
    --light-gray: #eaeaea;
    --mid-gray: #e0e0e0;
    --light-grey: #9D9D9D;
    --gray: #838383;
    --grey: #606060;
    --dark-grey: #474747;
    --grey-dark-ver: #BABABA;
    --error: #e64832;
    --border-grey: #DBDBDB;
    --blue-accent: #0500FF;
}

.wrapper {
    @include mixin.wrapper;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0 32px;
    min-width: 240px;
    height: 58px;
    border: 1px solid transparent;
    border-radius: 16px;
    font-family: 'Stolzl';
    gap: .5em;
    font-weight: 500;
    // letter-spacing: 0.35px;
    cursor: pointer;
    position: relative;
    svg {
        width: 22px;
        height: 22px;
    }
    .hover-animated-arrow {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        img {
            width: 20px;
        }
        &.down {
            border-radius: 2px;
        }
        &__out {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 16px;
            transform: translate(-50%, -50%) translate(0, 0);
            opacity: 1;
            transition:
                transform 0.45s cubic-bezier(.4,0,.2,1),
                opacity 0.25s ease;
            transition-timing-function: cubic-bezier(.6,0,.4,1);
            &.right, &.left {
                transform: translate(-50%, -50%) translateX(0);
            }
            &.down, &.up {
                transform: translate(-50%, -50%) translateY(0);
            }
        }
        &__in {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 16px;
            transform: translate(-50%, -50%) translate(-14px, 14px);
            opacity: 0;
            transition:
                transform 0.45s cubic-bezier(.4,0,.2,1),
                opacity 0.25s ease;
            transition-delay: 0.08s;
            &.right {
                transform: translate(-50%, -50%) translateX(-14px);
            }
            &.left {
                transform: translate(-50%, -50%) translateX(14px);
            }
            &.down {
                transform: translate(-50%, -50%) translateY(-14px);
            }
            &.up {
                transform: translate(-50%, -50%) translateY(14px);
            }
        }
    }
    &:hover {
        .hover-animated-arrow__out {
            transform: translate(-50%, -50%) translate(14px, -14px);
            opacity: 0;
            &.right {
                transform: translate(-50%, -50%) translateX(14px);
            }
            &.left {
                transform: translate(-50%, -50%) translateX(-14px);
            }
            &.down {
                transform: translate(-50%, -50%) translateY(14px);
            }
            &.up {
                transform: translate(-50%, -50%) translateY(-14px);
            }
        }
        .hover-animated-arrow__in {
            transform: translate(-50%, -50%) translate(0, 0);
            opacity: 1;
            &.right, &.left {
                transform: translate(-50%, -50%) translateX(0);
                opacity: 1;
            }
            &.down, &.up {
                transform: translate(-50%, -50%) translateY(0);
            }
        }
    }
    &.btn--primary {
        background-color: var(--black);
        color: #fff;
        overflow: hidden;
        position: relative;
        &:after {
            background: #ffffff;
            content: "";
            height: 155px;
            left: -75px;
            opacity: .35;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
            width: 40px;
            z-index: 0;
          }
          &:hover {
            &:after {
              left: 120%;
              transition: all 650ms cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
        svg path {
            fill: #fff;
        }
        svg {
            stroke: #fff;
        }
    }
    &.btn--outlined {
        border-color: var(--black);
        color: var(--black);
    }
    &.btn--accent {
        color: var(--black);
        background-color: var(--accent);
        transition: all 0.15s;
        overflow: hidden;
        .hover-animated-arrow {
            img {
                width: 16px;
            }
        }
        &:after {
            background: #fff;
            content: "";
            height: 155px;
            left: -75px;
            opacity: .25;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
            width: 50px;
            z-index: 0;
          }
          &:hover {
            &:after {
              left: 120%;
              transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
        svg path {
            fill: var(--black);
        }
        svg {
            stroke: var(--black);
        }
    }
    &.btn--light {
        border: 2px solid var(--light-black);
        // &:hover {
        //     color: var(--grey);
        //     border: 2px solid var(--grey);
        // }
    }
    @media screen and (max-width: 1350px) {
        height: 56px;
        padding: 0 24px;
    }
    @media screen and (max-width: 1250px) {
        font-size: 14px;
        padding: 0 16px;
    }
}

a.hovered-underline {
    position: relative;
    z-index: 1;
    width: fit-content;
    padding-right: 25px;
    font-size: 18px;
    color: var(--gray);
    &::before {
        content: "";
        position: absolute;
        bottom: 0px;
        height: 28px;
        left: -1px;
        right: -1px;
        transform-origin: 50% 100%;
        transform: scale(0.98, 0.05) translateZ(0px);
        backface-visibility: hidden;
        z-index: -1;
        display: inline-block;
        background: 0% 0% / 100% 100% repeat-x var(--gray);
        transition: transform 0.38s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &::after {
        content: "→";
        color: var(--gray);
        position: absolute;
        bottom: 2px;
        height: 24px;
        right: 0;
        display: inline-block;
        transition: transform 0.38s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &:hover {
        color: var(--black);
        &::before {
            transform: scale(1) translateZ(0px);
            background: 0% 0% / 100% 100% repeat-x var(--accent);
        }
        &::after {
            color: var(--black);
        }
    }
    &.gray {
        &::before {
            background: 0% 0% / 100% 100% repeat-x var(--gray);
        }
    }
}

a.hovered {
    position: relative;
    z-index: 1;
    width: fit-content;
    &::before {
        content: "";
        position: absolute;
        bottom: 0px;
        height: 20px;
        left: -1px;
        right: -1px;
        transform-origin: 50% 100%;
        transform: scale(0.98, 0) translateZ(0px);
        backface-visibility: hidden;
        z-index: -1;
        display: inline-block;
        background: 0% 0% / 100% 100% repeat-x rgb(186, 254, 53);
        transition: transform 0.38s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &:hover {
        &::before {
            transform: scale(1) translateZ(0px);
        }
    }
    &.gray {
        &::before {
            background: 0% 0% / 100% 100% repeat-x var(--gray);
        }
    }
}

a.underlined {
    position: relative;
    z-index: 1;
    width: fit-content;
    display: block;
    &:before {
        content: "";
        position: absolute;
        bottom: 0px;
        height: 1px;
        left: -1px;
        right: -1px;
        background-color: var(--black);
    }
}

.spacer {
    display: block;
    &.spacer--4 {
        height: 4em;
    }
    &.spacer--8 {
        height: 8em;
    }
    &.spacer--10 {
        height: 10em;
    }
    &.spacer--12 {
        height: 12em;
    }
    &.spacer--16 {
        height: 16em;
    }
}

.grey {
    color: var(--grey);
}
.gray {
    color: var(--gray);
}
.bold-text {
    font-weight: 500;
}

i.text-accent {
    color: var(--grey);
    font-style: normal;
}
i.text-bold {
    font-weight: 600;
    font-style: normal;
}

@media screen and (max-width: 1024px) {
    .spacer.spacer--12 {
        height: 10em;
    }
}


@media screen and (max-width: 768px) {
    .btn {
        height: 44px;
        border-radius: .75em;
    }
}

