.about-us {
    position: relative;
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 70px;
        position: relative;
        z-index: 2;
    }
    &__upper {
        display: flex;
        gap: 8.33%;
        .h2-block {
            width: 25%;
        }
        &-blocks {
            display: flex;
            width: 58.5%;
            gap: 14.3%;
        }
        &-block {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }
        &-title {
            font-size: 24px;
            font-weight: 500;
            line-height: 1;
            display: flex;
            flex-direction: column;
            text-align: right;
            .big {
                font-size: 56px;
                font-weight: 700;
            }
        }
        &-text {
            font-size: 14px;
            font-weight: 300;
            color: var(--grey);
            span {
                font-weight: 500;
            }
        }
    }
    &__lower {
        display: flex;
        gap: 8.33%;
        &-block {
            display: flex;
            flex-direction: column;
            gap: 25px;
            &:first-child {
                width: 25%;
            }
            &:last-child {
                width: 58.5%;
                padding-right: 18%;
            }
        }
        &-title {
            font-size: 24px;
            font-weight: 500;
        }
        &-text {
            font-size: 14px;
            font-weight: 300;
            color: var(--grey);
        }
    }
    &__circle {
            position: absolute;
            right: -250px;
            top: 0;
            max-height: 780px;
        &-wrap {
            position: relative;
            padding-top: 30px;
            pointer-events: none;
            user-select: none;
            z-index: 1;
        }
    }
    &__bg {
        color: #F9F9F9;
        font-size: 350px;
        font-weight: 700;
        position: absolute;
        z-index: 1;
        top: 140px;
        right: -130px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        line-height: 0.8;
        &-wrap {
            position: relative;
            pointer-events: none;
            z-index: 1;
            user-select: none;
        }
    }
}

@media screen and (max-width: 1280px) {
    .about-us {
        &__circle-wrap {
            display: none;
        }
        &__upper {
            gap: 5%;
            &-title {
                text-align: left;
                .big {
                    font-size: 48px;
                }
            }
            &-blocks {
                width: 70%;
                gap: 10%;
            }
        }
        &__lower-block {
            &:first-child {
                width: 37%;
            }
            &:last-child {
                width: 50%;
                padding-right: 0;
            }
        }
        &__bg {
            font-size: 280px;
            top: 210px;
            right: 0;
        }
    }
}

@media screen and (max-width: 991.9px) {
    .about-us {
        &__wrapper {
            flex-direction: column;
            gap: 50px;
        }
        &__upper {
            flex-direction: column;
            gap: 50px;
            .h2-block {
                width: 85%;
            }
            &-title {
                font-size: 28px;
                flex-direction: row;
                gap: 8px;
                .big {
                    font-size: 28px;
                    color: var(--grey);
                }
                div {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
            }
            &-blocks {
                width: 85%;
                gap: 50px;
            }
            &-block {
                gap: 15px;
            }
        }
        &__lower {
            flex-direction: column;
            gap: 50px;
            &-title {
                font-size: 28px;
            }
            &-block {
                &:first-child {
                    width: 85%;
                    gap: 15px;
                }
                &:last-child {
                    width: 85%;
                    padding-right: 0;
                    gap: 15px;
                }
            }
        }
        &__bg {
            top: 180px;
            font-size: 220px;
            transform: rotate(-90deg);
            right: -170px;
        }
    }
}

@media screen and (max-width: 767.9px) {
    .about-us {
        &__upper {
            &-title {
                font-size: 24px;
            }
        }
    }    
}

@media screen and (max-width: 640px) {
    .about-us {
        &__upper {
            &-blocks {
                flex-direction: column;
            }
        }
        &__lower {
            &-title {
                font-size: 24px;
            }
        }
    }    
}

@media screen and (max-width: 480px) {
    .about-us {
        &__bg {
            flex-direction: row-reverse;
            top: 280px;
            right: -240px;
            font-size: 150px;
        }
    }    
}