.advantages {
    &__wrapper {
        display: flex;
        margin-top: 6.125em;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 58%;
        margin-left: auto;
        row-gap: 4.875em;
    }
    &__item {
        width: calc(50% - 7%);
        .title {
            margin-top: 1.5em;
            font-size: 19px;
        }
        .text {
            margin-top: 1em;
            
        }
    }
}

@media screen and (max-width: 1250px) {
    .advantages {
        &__wrapper {
            width: 70%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .advantages__wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .advantages__wrapper {
        margin-top: 4.125em;
    }
    .advantages__item {
        width: 47%;
    }
}