.advantages {
    &__main-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    &__wrapper {
        display: flex;
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        width: calc(67% - 20px);
        row-gap: 50px;
    }
    &__item {
        width: calc(50% - 7%);
        .title {
            margin-top: 20px;
            font-size: 18px;
        }
        .text {
            margin-top: 10px;
            font-size: 14px;
            font-weight: 300;
            color: var(--gray);
        }
    }
}

@media screen and (max-width: 1250px) {
    .advantages {
        &__wrapper {
            width: 70%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .advantages__wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .advantages__wrapper {
        margin-top: 4.125em;
    }
    .advantages__item {
        width: 47%;
    }
}