/******************************** Cases ********************************/

.cases {
    &-item {
        position: relative;
    }
    &-shot-loader {
        z-index: -1;
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
        .loader-wrapper {
            width: 16px;
            height: 16px;
            position: absolute;
            top: 35px;
            left: 35px;
        }
        svg {
            animation: loading 1s linear infinite;
        }
    }
    &-table {
        // border-top: 1px solid #5a5a5a;
        // border-bottom: 1px solid #5a5a5a;

    }
    &-table-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    &-item {
        width: 33.3333%;
        border-top: 1px solid #5a5a5a;
        padding: 25px;
        position: relative;
        &:nth-child(3n+2) {
            border-left: 1px solid #5a5a5a;
            border-right: 1px solid #5a5a5a;
        }
        &-shot {
            background-color: #242526;
            border-radius: 10px;
            padding: 20px;
            height: 350px;
            text-align: center;
            img {
                border-radius: 10px;
                object-fit: contain;
                max-height: 100%;
            }
        }
        &-descr {
            margin-top: 20px;
            font-size: 17px;
            text-transform: uppercase;
            font-weight: 300;
        }
    }
    .tab-nav {
        display: flex;
        padding: 25px 0;
        border-top: 1px solid #5a5a5a;
        li {
            &:not(:nth-child(1)) {
                margin-left: 20px;
            }
            a {
                display: flex;
                background-color: #4b4a4a;
                width: fit-content;
                padding: 0 30px;
                height: 50px;
                border-radius: 20px;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                font-weight: 300;
            }
            &.active {
                a {
                    background-color: #fff;
                    color: #000;
                }
            }
        }
        
    }
    .tab-content {
        display: none;
        &.active {
            display: block;
        }
    }
}

@media screen and (max-width: 1200px) {
    .cases-hero {
        padding-bottom: 0;
        &-wrapper {
            padding-top: 100px;
        padding-bottom: 80px;
        }
        >.container {
            &:before, &::after {
                width: 140%;
                height: 100%;
                left: -20%;
                top: -20%;
            }
        }
    }
    .cases {
        &-item {
            &-shot {
                height: 180px;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .cases {
        &-item {
            width: 50%;
            &:nth-child(3n+2) {
                border-left: none;
                border-right: none;
            }
            &:nth-child(odd) {
                border-right: 1px solid #5a5a5a ;
            }
            &-shot {
                height: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .cases {
        &-item {
            padding: 25px 20px;
            &-shot {
                height: 200px;
                padding: 15px;
            }
        }
        .tab-nav {
            overflow-x: scroll;
        }
    }
}


@media screen and (max-width: 576px) {
    .cases {
        &-hero-wrapper {
            padding-top: 80px;
            padding-bottom: 60px;
        }
        &-item {
            width: 100%;
            padding: 25px 10px;
            &:nth-child(odd) {
                border-right: none ;
            }
            &-shot {
                height: 300px;
            }
        }
    }
}

@media screen and (max-width: 374px) {
    .cases {
        &-item {
            &-shot {
                height: 240px;
            }
        }
    }
}
/******************************** Cases -----------*********************/