.contacts {
    padding: 5.125em 0;
    background-color: var(--light-gray);
    position: relative;
    overflow: hidden;
    height: 756px;
    &__wrapper {
        display: flex;
        gap: 2em;
    }
    &__title {
        width: 41%;
    }
    &__row {
        width: calc(100% - (41% + 2em));
        display: flex;
        gap: 100px;
    }
    &__col {
        display: flex;
        flex-direction: column;
        gap: 25px;
        .divider {
            display: block;
            background-color: #000;
            height: 3px;
            width: 27px;
        }
        .worktime {
            display: flex;
            flex-direction: column;
        }
        .socials {
            display: flex;
            gap: 8px;
            .social {
                width: 32px;
                height: 32px;
                padding: 4px;
                border: 1px solid #000;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                transition: all .3s ease-in-out;
                svg {
                    width: 18px;
                    height: 18px;
                }
                &:hover {
                    background-color: #000;
                    svg {
                        path {
                            fill: var(--accent);
                            // stroke: var(--accent);
                        }
                    }
                }
            }
        }
    }
    .txt-large {
        position: absolute;
        font-size: 382px;
        line-height: 312px;
        font-weight: 500;
        left: -98px;
        bottom: -95px;
        max-width: 1814px;
        text-align: right;
        pointer-events: none;
        .gray {
            color: var(--gray);
        }
    }
}

@media screen and (max-width: 1250px) {
    .contacts {
        height: 570px;
        .txt-large {
            font-size: 220px;
            line-height: 180px;
            left: -440px;
            bottom: -50px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .contacts {
        height: 530px;
        &__title {
            font-size: 1.5em;
            width: 35%;
        }
        &__row {
            width: calc(100% - (35% + 2em));
        }
        .txt-large {
            font-size: 200px;
            line-height: 160px;
            left: -550px;
            bottom: -50px;
        }
    }
}