.dialogs {
	position: fixed;
	display: none;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 50;
	overflow-x: hidden;
	-webkit-overflow-scrolling:touch;
	background: rgba(27, 26, 26, .2);
	backdrop-filter: blur(24px);
	top: 0;
	left: 0;

	.close-bg {
		position: fixed;
		z-index: 51;
		width: 100%;
		height: 100%;
    }
    .flex-popup {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100%;
		width: 100%;
		box-sizing: border-box;
    }
    .popup {
		display: none;
		opacity: 0;
		margin: 0 auto;
		position: relative;
		z-index: 52;
		width: 100%;
		max-width: max-content;
		border: none;
		padding: 0;
		box-sizing: border-box;
		transform: translate3d(0, -30px, 0) scale(.9);
		transition: all ease-in-out .3s;
		background: transparent;
		color: var(--black);

		&.active {
			opacity: 1;
			transform: translate3d(0,0,0) scale(1);
		}
    }
    .close {
        position: absolute;
        right: 24px;
        top: 24px;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 24px;
        height: 24px;

        border-radius: 50%;
        background: linear-gradient(90deg, rgba(46,46,46,0.5) 0%, rgba(69,69,69,0.5) 100%);
        backdrop-filter: blur(16px);

        cursor: pointer;

        .ico {
            display: flex;
            width: 10px;
            height: 10px;
            use {
                fill: var(--white);
                transition: all ease-in-out .2s;
            }
        }

        &:hover {
            .ico {
                use {
                    fill: var(--black);
                }
            }
        }
    }
    .popup {
        background-color:transparent;
    
        &__wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            width: 480px;
            min-height: 372px;
            margin: 0 auto;
            border-radius: 16px;
            background-color: #fff;
            position: relative;
            z-index: 2;
            max-width: 480px;
            padding: 0;
            box-sizing: border-box;
            overflow: visible;
        }
    
        &__content {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 48px;
    
            h5 {
                text-align: center;
            }
        }
    
        &__form {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 32px;
            gap: 24px;
    
            &.popup-list {
                padding: 20px 0;
                max-height: 100%;
            }
        }
        .form-description {
            font-size: 12px;
            font-weight: 400;
        }
    
        &__file {
            gap: 4px;
            width: 100%;
            padding: 17px 0;
            border-radius: 4px;
            color: var(--gray);
            border: 1px dashed var(--gray-3);
            transition: all ease-in-out .2s;
            cursor: pointer;
    
            > span {
                font-size: 10px;
                line-height: 140%;
            }
    
            &:hover {
                border-color: var(--black);
            }
        }
    }
}

.cookie-banner {
    position: fixed;
    bottom: 50px;
    right: 100px;
    max-width: 900px;
    width: calc(100% - 32px);
    height: 115px;
    padding: 25px 70px;
    background: var(--light-black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    z-index: 100;

    /* рваные края — см. пункт 2 */
    mask-image: url("../img/cookie-bg.svg");
    mask-size: 100% 100%;
    &__text {
        font-size: 13px;
        font-weight: 200;
        line-height: 1.4;
        a {
            font-weight: 400;
            text-decoration: underline;
            color: var(--grey-dark-ver);
            &:hover {
                color: var(--white);
            }
        }
    }
    &__btn {
        background: transparent;
        border: none;
        color: #baff00;
        font-weight: 700;
        cursor: pointer;
        font-size: 16px;
        text-decoration: underline;
        &:hover {
            color: var(--white);
        }
    }
}

.fixed-btns {
    position: fixed;
    right: 25px;
    bottom: 40px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    &__go-up {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background: var(--mid-gray);
        opacity: 0;
        pointer-events: none;
        transform: translateY(10px);
        transition: opacity .3s ease, transform .3s ease;
        min-width: 56px;
        padding: 0;
        &:hover {
            background: var(--light-grey);
        }
        &.is-visible {
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0);
        }
    }
    &__direct {
        position: relative;
        display: flex;
        align-items: center;
        border: 0.5px solid #ff007a;
        border-radius: 30px;
        &-main {
            background: #fff;
            transition: background .3s ease;
            border-radius: 30px;
            width: 56px;
            height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            order: 1;
            overflow: hidden;
            position: relative;
            &:hover {
                background: #ff007a;
                svg path {
                    fill: var(--white);
                }
                svg:last-child path {
                    stroke: var(--white);
                }
            }
            .icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) translate(0, 0);
                opacity: 1;
                transition:
                    transform 0.25s cubic-bezier(.4,0,.2,1),
                    opacity 0.25s ease;
                transition-timing-function: cubic-bezier(.6,0,.4,1);
                &-out {
                    transform: translate(-50%, -50%) translateY(0);
                    opacity: 1;
                }
                &-in {
                    transform: translate(-50%, -50%) translateY(14px);
                    opacity: 0;
                }
            }
        }
        &.is-open {
            .fixed-btns__direct-main {
                .icon {
                    &-out {
                        transform: translate(-50%, -50%) translateY(-14px);
                        opacity: 0;
                    }
                    &-in {
                        transform: translate(-50%, -50%) translateY(0);
                        opacity: 1;
                    }
                }
            }
        }
        &-menu {
            display: flex;
            opacity: 0;
            pointer-events: none;
            transform: translateX(10px);
            transition: .35s ease;
            a {
                display: none;
            }
        }
        &.is-open {
            background: var(--white);
            .fixed-btns__direct-menu {
                opacity: 1;
                pointer-events: auto;
                transform: translateX(0);
                a {
                    width: 56px;
                    height: 56px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: var(--white);
                    &:hover {
                        background: var(--light-gray);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1180px) {
    .cookie-banner {
        max-width: 780px;
        padding: 25px 35px;
        bottom: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .cookie-banner {
        max-width: 740px;
        right: 20px;
        bottom: 20px;
        &__text {
            line-height: 1.2;
        }
    }
}

@media screen and (max-width: 640px) {
    .cookie-banner {
        mask-image: none;
        height: auto;
        padding: 20px 30px;
        border-radius: 16px;
        right: 15px;
        bottom: 15px;
        gap: 25px;
    }
}

@media screen and (max-width: 480px) {
    .cookie-banner {
        flex-direction: column;
        text-align: center;
        padding: 15px;
        gap: 15px;
        &__text {
            font-size: 11px;
        }
    }
}