.circle {
    animation: pulse 1.5s infinite;
    opacity: 0.2;
  }
  
  #circle1 { animation-delay: 0s; }
  #circle2 { animation-delay: 0.2s; }
  #circle3 { animation-delay: 0.5s; }
  #circle4 { animation-delay: 0.8s; }
  #circle5 { animation-delay: 1.1s; }
  
  @keyframes pulse {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }
  }
  
  .input-group {
    position: relative;
    input, .input {
      width: 100%;
      padding: 10px 10px 25px 0;
      border: none;
      border-bottom: 1px solid var(--gray);
      outline: none;
      font-size: 16px;
      &.input-large {
        padding: 10px 10px 100px 0;
        ~ label {
          top: 10px;
          &.active {
            top: -25px;
          }
        }
      }
    }
    label {
      position: absolute;
      left: 0px;
      top: 10px;
      // background-color: white;
      color: var(--gray);
      transition: 0.2s ease all;
      pointer-events: none;
    }
  }
  
  /* Анимация при фокусе или когда поле заполнено */
  .input-group input:focus ~ label, .input-group label.active, .input-group textarea:focus ~ label  {
    top: -25px;
    font-size: 12px;
    color: #37d536;
  }
  
  .input-group input:focus {
    border-color: #37d536;
  }

  .form-section {
    &__heading {
      display: flex;
      justify-content: space-between;
    }
    .form-row {
      margin-top: 48px;
    }
    .btn {
      margin-top: 48px;
    }
    &__form {
      margin-top: .5em;
    }
    &__socials {
      display: flex;
      flex-direction: column;
      width: 50px;
      gap: 1.5em;
      margin-top: 20px;
      a {
        width: 50px;
        height: 50px;
        border: 1px solid var(--gray);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s ease-in-out;
        &:hover {
          background-color: var(--accent);
          border: 1px solid var(--accent);
        }
        svg {
          width: 21px;
          height: 21px;
        }
      }
    }
  }

.input-group .error {
    font-weight: 400;
    font-size: 10px;
    line-height: 190%;
    color: var(--error);
    margin-top: 8px;
}

.input-group input.required, .input-group textarea.required {
    color: var(--error);
    border-bottom-color: var(--error);
    ~ label {
      color: var(--error);
    }
}

@media screen and (max-width: 1024px) {
  .form-section {
    .form-row {
      flex-wrap: wrap;
      .input-group {
        width: calc(50% - var(--gap) * 2 / 3);
        &:last-child {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .form-section {
    &__heading {
      flex-direction: column;
    }
    &__socials {
      flex-direction: row;
      width: auto;
    }
    .input-group .input.input-large, .input-group input.input-large {
      padding: 10px 10px 20px 0;
    }
    .input-group {
      label {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .form-section {
    .h2 {
      font-size: 32px;
    }
    .h2.imaged .row, h2.imaged .row {
      gap: 15px;
    }
    .animated-arrow-img.big-size {
      width: 52px;
      height: 52px;
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .form-section {
    .h2 {
      font-size: 28px;
    }
  }
}

@media screen and (max-width: 370px) {
  .form-section {
    .h2 {
      font-size: 26px;
    }
  }
}