@use 'utils/mixins' as mixin;
.header {
    padding: 24px 0;
    &__logo {
        width: 141px;
        height: 38px;
    }
    &__nav {
        ul {
            @include mixin.wrapper($justify: flex-start, $gap: 24px);
            width: fit-content;
        }
    }
}

@media screen and (max-width: 1350px) {
    .header {
        &__nav {
            font-size: 14px;
            ul {
                gap: 18px;
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .header {
        &__nav {
            ul {
                gap: 16px;
            }
        }
        &__logo {
            width: 110px;
            height: 28px;
        }
    }

}