@use 'utils/mixins' as mixin;
.header {
    padding: 24px 0;
    &__logo {
        width: 141px;
        height: 38px;
    }
    &__right-wrapper {
        display: flex;
        align-items: center;
        gap: 70px;
    }
    &__nav {
        font-size: 14px;
        ul {
            @include mixin.wrapper($justify: flex-start, $gap: 24px);
            width: fit-content;
            li {
                a {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 5px 12px;
                }
            }
            li:hover {
                color: var(--black);
            }
            &:has(li:hover) {
                color: var(--gray);
            }
        }
        &-logo, &-cta {
            display: none;
        }
    }
    &__burger {
        display: none;
        flex-direction: column;
        width: 42px;
        justify-content: space-between;
        gap: 6px;
        span {
            width: 100%;
            height: 3px;
            border-radius: 2px;
            background-color: #000;
            transition: all .2s ease;
        }
        &.active {
            span {
                &:nth-child(1) {
                    transform: rotate(-45deg) translateX(-12px);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(45deg) translateX(-12px);
                }
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    .header {
        &__nav {
            font-size: 14px;
            ul {
                gap: 18px;
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .header {
        &__nav {
            ul {
                gap: 16px;
            }
        }
        &__logo {
            width: 110px;
            height: 28px;
        }
    }

}

@media screen and (max-width: 1023.91px) {
    .header {
        &__nav {
            background-color: #fff;
            position: absolute;
            left: -110%;
            top: 0;
            padding: 36px;
            z-index: 9;
            height: 100vh;
            min-height: 100%;
            min-width: 280px;
            box-shadow: 4px -2px 15px 6px rgba(0, 0, 0, .1);
            transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
            max-width: 500px;
            ul {
                flex-direction: column;
                
                align-items: flex-start;
            }
            &-logo, &-cta {
                display: block;
            }
            &-logo {
                margin-bottom: 36px;
            }
            &-cta {
                margin-top: 72px;
            }
            &.active {
                left: 0;
            }
        }
        &__burger {
            display: flex;
            margin-left: 36px;
        }
        &__wrapper {
            justify-content: space-between;
        }
        &__cta {
            margin-left: auto;
        }
    }
}

@media screen and (max-width: 639.91px) {
    .header {
        &__nav {
            max-width: 320px;
        }
    }
}