.hero {
    margin-top: 30px;
    .h1 {
        &.huge {
            font-size: 148px;
            line-height: 1;
            font-weight: 900;
            gap: 10px;
            display: flex;
            flex-direction: column;
        }
        &-small {
            font-size: 32px;
            padding-left: 15px;
        }
    }
    &__wrapper {
        position: relative;
        align-items: flex-start;
    }
    &__info {
        width: 58%;
        &-txt {
            padding-left: 15px;
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 85%;
            font-weight: 300;
            color: var(--grey);
        }
    }
    &__btn-block {
        padding-left: 15px;
        display: flex;
        align-items: center;
        margin-top: 50px;
        gap: 30px;
        .btn-lil-txt {
            font-size: 12px;
        }
    }
    &__illustr {
        width: 40%;
        // position: absolute;
        // right: 0;
        // top: 0;
        // left: auto;
        .hero__mask {
            position: relative;
        }
        .globe {
            position: absolute;
            right: 0;
            top: 0;
            width: 80px;
            height: 80px;
        }
    }
}

@media screen and (max-width: 1600px) {
    .hero {
        .h1.huge {
            font-size: 11em;
        }
    }
}

@media screen and (max-width: 1550px) {
    .hero {
        .h1.huge {
            font-size: 10em;
        }
        &__illustr {
            max-width: 570px;
        }
    }
}

@media screen and (max-width: 1470px) {
    .hero {
        .h1.huge {
            font-size: 9.5em;
        }
        &__illustr {
            max-width: 520px;
            .globe {
                width: 70px;
                height: 70px;
            }
        }
    }
}

@media screen and (max-width: 1380px) {
    .hero {
        .h1.huge {
            font-size: 9em;
        }
        &__illustr {
            max-width: 460px;
            .globe {
                width: 60px;
                height: 60px;
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .hero {
        .h1.huge {
            font-size: 7.5em;
        }
        &__illustr {
            max-width: 420px;
            .globe {
                width: 50px;
                height: 50px;
            }
        }
        .h3 {
            font-size: 2.9em;
        }
    }
}

@media screen and (max-width: 1024px) {
    .hero {
        .h1.huge {
            font-size: 5.5em;
        }
        &__illustr {
            max-width: 320px;
            .globe {
                width: 40px;
                height: 40px;
            }
        }
        .h3 {
            font-size: 2.2em;
        }
    }
}

@media screen and (max-width: 1024px) {
    .hero {
        .h1.huge {
            font-size: 5em;
        }
        &__illustr {
            max-width: 260px;
            .globe {
                width: 30px;
                height: 30px;
            }
        }
        .h3 {
            font-size: 2em;
        }
    }
}