.hero {
    margin-top: 30px;
    .h1 {
        &.huge {
            font-size: 148px;
            line-height: 1;
            font-weight: 900;
            gap: 10px;
            display: flex;
            flex-direction: column;
        }
        &-small {
            font-size: 32px;
            padding-left: 15px;
        }
    }
    &__wrapper {
        position: relative;
        align-items: flex-start;
    }
    &__info {
        width: 58%;
        &-txt {
            padding-left: 15px;
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 85%;
            font-weight: 300;
            color: var(--grey);
        }
    }
    &__btn-block {
        padding-left: 15px;
        display: flex;
        align-items: center;
        margin-top: 50px;
        gap: 30px;
        .btn-lil-txt {
            font-size: 12px;
        }
    }
    &__illustr {
        width: 40%;
        // position: absolute;
        // right: 0;
        // top: 0;
        // left: auto;
        .hero__mask {
            position: relative;
        }
        .globe {
            position: absolute;
            right: 0;
            top: 0;
            width: 80px;
            height: 80px;
        }
    }
}

@media screen and (max-width: 1480px) {
    .hero {
        &__wrapper {
            align-items: center;
        }
    }
}

@media screen and (max-width: 1380px) {
    .hero {
        .h1.huge {
            font-size: 106px;
        }
        &__info {
            width: 52%;
        }
        &__illustr {
            width: 43%;
        }
    }
}

@media screen and (max-width: 1180px) {
    .hero {
        .h1.huge {
            font-size: 86px;
        }
        &__info {
            width: 65%;
            z-index: 2;
        }
        &__illustr {
            position: absolute;
            top: 0;
            right: -50px;
        }
        z-index: 1;
    }
}

@media screen and (max-width: 1024px) {
    .hero {
        .h1.huge {
            font-size: 72px;
        }
        .h1-small {
            font-size: 24px;
            padding-left: 5px;
        }
        &__info {
            width: 75%;
        }
        &__info-txt {
            width: 100%;
            padding-left: 5px;
            padding-right: 100px;
            margin-top: 20px;
        }
        &__btn-block {
            padding-left: 5px;
            gap: 20px;
        }
        &__illustr {
            width: 45%;
        }
    }
}

@media screen and (max-width: 768px) {
    .hero {
        .h1.huge {
            font-size: 65px;
        }
        &__info {
            width: 85%;
            &-txt {
                padding-right: 150px;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .hero {
        overflow: hidden;
        padding-bottom: 100px;
        .h1.huge {
            font-size: 58px;
        }
        &__info {
            &-txt {
                padding-right: 50px;
            }
        }
        &__illustr {
            width: 70%;
            top: -10px;
            right: -200px;
        }
        &__btn-block {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 30px;
            gap: 10px;
        }
    }
}

@media screen and (max-width: 480px) {
    .hero {
        &__info {
            &-txt {
                padding-right: 30px;
            }
        }
        &__illustr {
            width: 100%;
            top: 50px;
            right: -250px;
        }
        &__btn-block {
            .btn-lil-txt {
                font-size: 10px;
                font-weight: 300;
                padding-left: 5px;
            }
        }
    }
}
@media screen and (max-width: 375px) {
    .hero {
        .h1.huge {
            font-size: 52px;
        }
        &__info {
            width: 90%;
            &-txt {
                padding-right: 40px;
            }
        }
    }
}