.hero {
    margin-top: 30px;
    .h1 {
        &.huge {
            font-size: 12em;
            line-height: 1;
        }
    }
    &__wrapper {
        position: relative;
    }
    &__info {
        width: 66.66%;
        .btn {
            margin-top: 2.5em;
        }
    }
    &__illustr {
        position: absolute;
        right: 0;
        top: 0;
        left: auto;
        .hero__mask {
            position: relative;
        }
        .globe {
            position: absolute;
            right: 0;
            top: 0;
            width: 80px;
            height: 80px;
        }
    }
}