.cases {
    &__wrapper {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    .case-card {
        width: calc(33.33% - 37px);
        padding-top: 21px;
        padding-bottom: 21px;
        padding-right: 37px;
        margin-right: 37px;
        margin-bottom: 50px;
        position: relative;
        &::after {
            content: '';
            height: 100%;
            width: 0.5px;
            background-color: var(--mid-gray);
            position: absolute;
            top: 0;
            right: 0;
        }
        &__tags {
            margin-top: 20px;
            display: flex;
            gap: 10px;
            align-items: center;
        }
        .tag {
            padding: 6px 16px 4px;
            font-size: 9px;
            line-height: 1;
            font-weight: 400;
            background: var(--mid-gray);
            border-radius: 4px;
            color: var(--grey);
            &.tag--fill {
                background-color: #E0E0E0;
            }
            &.tag--outline {
                border-color: var(--gray);
                color: var(--blue-accent);
            }
            &.tag--outline-dotted {
                border: 1px dotted var(--grey);
            }
        }
        &__title {
            font-weight: 400;
            margin-top: 10px;
        }
        &__link {
            margin-top: 30px;
            min-width: 178px;
            background: var(--black);
            border: none;
            color: var(--white);
            .lil-icons {
                display: block;
                position: relative;
                overflow: hidden;
                margin-top: 2px;
                svg {
                    width: 18px;
                    height: 18px;
                    transition: 
                        transform 0.35s ease,
                        opacity 0.25s ease;
                }
                .arrow-icon {
                    position: absolute;
                    font-size: 18px;
                    left: -20px;
                    top: -5px;
                    transition: 
                        transform 0.35s ease,
                        opacity 0.25s ease;
                }
            }
            &:hover {
                background: var(--dark-grey);
                transition: cubic-bezier(0.075, 0.82, 0.165, 1);
                .lil-icons {
                    svg {
                        transform: translateX(-20px);
                    }
                    .arrow-icon {
                        transform: translateX(20px);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1023.91px) {
    .cases {
        &__wrapper {
            row-gap: 37px;
        }
      .case-card {
        width: calc(50% - 37px);
      }
    }
  }

  @media screen and (max-width: 767.91px) {
    .cases {
        &__wrapper {
            row-gap: 20px;
        }
      .case-card {
        width: calc(50% - 20px);
        padding-right: 20px;
        margin-right: 20px;
        &__tags {
            flex-wrap: wrap;
        }
      }
    }
  }

  @media screen and (max-width: 639.91px) {
    .cases {
      .case-card {
        width: calc(100% - 20px);
        padding-right: 20px;
        margin-right: 20px;
      }
    }
  }