.request {
    &__wrapper {
        background-color: var(--light-gray);
        border-radius: 32px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px 50px 50px;
        .paragraph {
            margin-top: 10px;
            font-weight: 500;
        }
    }
    &__btns {
        margin-top: 35px;
        display: flex;
        gap: 30px;
    }
    &__pdf {
        display: none;
    }
}

.cooperation-page {
    .request {
        &__pdf {
            display: flex;
        }
    }
}

@media screen and (max-width: 991.9px) {
    .request {
        &__wrapper {
            padding: 2.75em;
            border-radius: 1.5em;
        }
    }
    
}

@media screen and (max-width: 370px) {
    .request {
        &__wrapper {
            padding: 1.8em;
        }
    }
}