.services-page {
    &-tabs {
        margin-top: 5px;
        &__controls {
            display: flex;
            align-items: center;
            gap: 80px;
            width: fit-content;
            padding: 12px 16px;
            background: #ebebeb;
            border-radius: 50px;
            margin-left: 150px;
        }
        &__tab {
            color: var(--light-grey);
            font-size: 18px;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 15px;
            cursor: pointer;
            &.is-active {
                color: var(--black);
                pointer-events: none;
                cursor: default;
                .switch {
                    background: var(--black);
                    span {
                        transform: translateX(17px);
                        transition-delay: .06s; // 👈 задержка
                    }
                }
            }
            button {
                text-decoration: underline;
            }
            .switch {
                width: 40px;
                height: 24px;
                border-radius: 50px;
                background: var(--light-grey);
                padding: 1.5px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                transition: background .25s ease;
                
                span {
                    display: block;
                    width: 20px;
                    height: 20px;
                    border-radius: 50px;
                    background: var(--white);
                    transform: translateX(0);
                    transition:
                        transform .35s cubic-bezier(.34,1.56,.64,1),
                        box-shadow .2s;
                    transition-delay: 0.06s; // 👈 дефолт
                }
            }
        }
        &__content {
            margin-top: 50px;
        }
        &__tab-panel {
            display: none;
        }
        &__tab-panel.is-active {
            display: block;
        }
    }
}

.services-page-item {
    display: flex;
    gap: 25px;
    padding: 50px 0;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 60%;
        height: 0.5px;
        background: #dadada;
    }
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        padding-bottom: 0;
        &::after {
            content: none;
        }
    }
    &__left {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-right: 50px;
    }
    &__right {
        width: calc(50% - 25px);
        display: flex;
        gap: 25px;
    }
    &__title {
        font-size: 32px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__subtitle {
        font-size: 14px;
        font-weight: 500;
        margin-top: 5px;
        color: var(--grey);
    }
    &__texts {
        display: flex;
        flex-direction: column;
        gap: 15px;
        p {
            font-size: 14px;
            font-weight: 200;
            // color: var(--grey);
        }
        .aim {
            span {
                font-weight: 400;
            }
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 14px;
        font-weight: 300;
        .bold {
            font-weight: 500;
        }
    }
    &__right {
        width: calc(50% - 25px);
        display: flex;
        gap: 25px;
    }
    &__list {
        width: 50%;
        &-subtitle {
            font-size: 18px;
            font-weight: 500;
        }
        ul {
            margin-top: 15px;
        }
        li {
            font-size: 12px;
            font-weight: 400;
            line-height: 1.2;
            color: var(--grey);
            margin-top: 10px;
            display: flex;
            align-items: center;
            gap: 7px;
            &:first-child {
                margin-top: 0;
            }
            &::before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 18px;
                background-image: url('/assets/img/checkmark.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                flex-shrink: 0;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .services-page-item {
        &__left {
            width: 45%;
            padding-right: 0;
        }
        &__right {
            width: calc(55% - 25px);
            margin-top: 5px;
        }
    }
}

@media screen and (max-width: 991.9px) {
    .services-page-item {
        flex-direction: column;
        &__left {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }
        &__right {
            width: 100%;
            margin-top: 0;
        }
        &__titles {
            width: 100%;
            order: 1;
        }
        &__texts {
            width: 100%;
            order: 2;
        }
        &__info {
            order: 4;
            gap: 0;
        }
        .btn.btn--primary {
            order: 3;
            margin-right: 20px;
        }
    }
}

@media screen and (max-width: 767.9px) {
    .services-page-tabs {
        &__controls {
            margin-left: 80px;
        }
    }
    .services-page-item {
        &__title {
            font-size: 28px;
        }
    }
}

@media screen and (max-width: 640px) {
    .services-page-tabs {
        &__controls {
            margin-left: 0;
            gap: 25px;
            margin-top: 20px;
        }
        &__tab {
            font-size: 16px;
        }
    }
    .services-page-item {
        .btn.btn--primary {
            margin-right: 0;
            order: 4;
        }
        &__info {
            order: 3;
            width: 100%;
        }
        &__right {
            flex-direction: column;
        }
        &__list {
            width: 100%;
        }
    }
}

@media screen and (max-width: 480px) {
    .services-page-tabs {
        &__controls {
            gap: 15px;
            margin-top: 15px;
            padding: 8px 12px;
        }
        &__tab {
            font-size: 14px;
            gap: 8px;
            .switch {
                width: 30px;
                height: 18px;
                span {
                    width: 16px;
                    height: 16px;
                }
            }
            &.is-active {
                .switch {
                    span {
                        transform: translateX(12px);
                    }
                }
            }
        }
    }
    .services-page-item {
        &__title {
            font-size: 26px;
        }
    }
}

@media screen and (max-width: 370px) {
    .services-page-tabs {
        &__tab {
            font-size: 12px;
        }
        &__content {
            margin-top: 25px;
        }
    }
    .services-page-item {
        &__title {
            font-size: 22px;
        }
    }
}