.why-price {
    .h2-long-block {
        display: flex;
        flex-direction: column;
        &__wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 50px;
        &-row {
            display: flex;
            gap: 8%;
        }
        &-item {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 46%;
            &-title {
                display: flex;
                gap: 15px;
                font-size: 24px;
            }
            &-text {
                font-size: 13px;
                font-weight: 300;
                color: var(--grey);
            }
        }
    }
}