
@keyframes translateUpDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }

.op-16 {
    opacity: .16;
}
.u-pointer {
    pointer-events: none;
}
.bord-left {
    height: 100%;
    transform-origin: 50% 0;
    border-left: 1px solid rgba(21,21,21,.15);
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: auto;
}
.work {
    background-color: #fff;
    color: #16171a;
    &-wrap {
        position: relative;
        margin-top: 25px;
    }
    &-title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &-item {
        width: 100%;
        &.dev {
            position: relative;
            z-index: 1;
            .work-infos {
                .u-1-3 {
                    left: 40%;
                }
                .u-2-2 {
                    left: 30%;
                }
                .u-2-3 {
                    left: 40%;
                }
                .u-3-2 {
                    left: 35%;
                }
                .u-3-3 {
                    left: 55%;
                }
            }
        }
        &.mvp {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }
    }
    &-title {
        perspective: 50vw;
        flex: none;
        align-items: center;
        text-decoration: none;
        display: block;
        transform: perspective(50vw);
    }
    &-title-link {
        perspective: 50vw;
        flex: none;
        align-items: center;
        text-decoration: none;
        display: block;
        transform: perspective(50vw);
        &-wrap {
            display: flex;
            align-items: center;
        }
    }
    .title-toggle {
        display: block;
        width: 120px;
        flex: none;
        margin-left: 30px;
        position: relative;
    }
    &-title-link, &-title {
        h3 {
            font-size: 48px;
        }
    }
    &-infos {
        display: flex;
        justify-content: space-between;
        position: relative;
        color: #16171a;
        border-top: 1px solid rgba(21,21,21,.15);
        margin-top: 30px;
        &-unit {
            position: relative;
            width: 33.33%;
        }
        &-item {
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 90px;
            padding-right: 20px;
            padding-bottom: 20px;
        }
        &-txt {
            p {
                font-size: 13px;
            }
        }
        &-wrap {
            width: 80%;
            padding-top: 90px;
            padding-left: 40px;
            padding-bottom: 70px;
            display: flex;
            flex: none;
            position: relative;
        }
        &-left-line {
            border-left: 1px solid rgba(21,21,21,.15);
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: auto;
            &.u2 {
                height: 75%;
            }
            &.u3 {
                height: 81%;
            }
            &.u4 {
                height: 95%;
            }
        }
        &-unit-title {
            text-transform: uppercase;
            margin-left: 10px;
            position: relative;
        }
        &-unit-subt {
            margin-top: 100px;
            height: 75px;
            margin-left: 10px;
            z-index: 2;
            position: relative;
        }
        .u-subt {
            position: absolute;
            font-size: 16px;
            padding: 4px 16px 4px 6px;
            white-space: nowrap;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: #bafe35;
                z-index: -1;
                transform-origin: center top;
                transform: scale3d(1, 0, 1);
                transition: transform 0.8s cubic-bezier(.19, 1, .22, 1);
            }
            &:hover {
                &::before {
                    transform: scale3d(1, 1, 1);
                    transform-origin: center bottom;
                }
            }
            .u-sup {
                font-size: 10px;
                position: absolute;
                line-height: 170%;
                margin-left: 7px;
            }
        }
        .u-1-1 {
            z-index: 1;
            top: 0;
            bottom: auto;
            left: 0;
            right: auto;
        }
        .u-1-2 {
            top: 26px;
            left: 22%;
            right: auto;
            bottom: auto;
            z-index: 2;
        }
        .u-1-3 {
            top: 53px;
            left: 60%;
            right: auto;
            bottom: auto;
            z-index: 3;
        }
        .u-2-1 {
            top: 0px;
            left: 0px;
            right: auto;
            bottom: auto;
            z-index: 1;
        }
        .u-2-2 {
            top: 26px;
            left: 11%;
            right: auto;
            bottom: auto;
            z-index: 2;
        }
        .u-2-3 {
            top: 53px;
            left: 50%;
            right: auto;
            bottom: auto;
            z-index: 3;
        }
        .u-3-1 {
            z-index: 1;
            top: 0;
            bottom: auto;
            left: 0;
            right: auto;
        }
        .u-3-2 {
            top: 26px;
            left: 40%;
            right: auto;
            bottom: auto;
            z-index: 2;
        }
        .u-3-3 {
            top: 53px;
            left: 50%;
            right: auto;
            bottom: auto;
            z-index: 3;
        }
    }
    &-anchor-down {
        width: 30px;
        position: relative;
        display: block;
        svg {
            animation: translateUpDown 0.5s infinite alternate;
        }
    }
    .pro--c-path {
        display: none;
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
    }
    &-main-path {
        position: relative;
        width: 100%;
    }
    .u-path-wrapper {
        z-index: 1;
        height: 100%;
        display: block;
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
    }
    .u-path {
        &.u-sticky {
            width: 100%;
            height: 100vh;
            margin-left: 0;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            left: auto;
        }
    }
    &-info-item-2 {
        position: sticky;
        top: 0;
        padding-top: 60px;
        padding-bottom: 90px;
        padding-left: 40px;
    }
    &-info-item-3 {
        position: sticky;
        top: 0;
        padding-top: 60px;
        padding-bottom: 90px;
        padding-left: 40px;
    }
    &-info-section {
        &-1 {
            font-size: 35px;
            padding-top: 150px;
            padding-bottom: 300px;
        }
        &-right {
            justify-content: flex-start;
            align-items: flex-start;
            display: flex;
            position: relative;
            font-size: 35px;
            &-img {
                z-index: 2;
                width: 55%;
                flex: none;
                position: relative;
            }
            &-descr {
                width: 45%;
                flex: 0 auto;
                
                position: relative;
            }
            &-wrap {
                height: 200vh;
                position: relative;
            }
            &-p2, &-p3 {
                margin-top: 35px;
            }
        }
    }
    .u-hscroll {
        position: sticky;
        top: 0;
        height: 100vh;
        z-index: 2;
        
        &-wrap {
            width: 400vw;
            display: flex;
            position: relative;
        }
        &-s1 {
            width: 100vw;
            flex: none;
            position: relative;
            &-inner {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                position: relative;

            }
            .s1-left {
                width: 55%;
                flex: none;
                position: relative;
                z-index: 2;
            }
            .u-hscroll-layout {
                position: relative;
                flex: 0 auto;
                padding-top: 60px;
        padding-bottom: 90px;
        padding-left: 40px;
                p {
                font-size: 35px;
                }
            }
        }
    }
    .u-htrigger {
        width: 100%;
        height: 600vh;
        display: none;
        position: absolute;
        top: 0%;
        bottom: auto;
        left: 0%;
        right: 0%;
    }
    .u-hscroll__s2 {
        width: 100vw;
        flex: none;
        position: relative;
    }
    .u-hscroll__s3, .u-hscroll__s4 {
        width: 100vw;
        flex: none;
        position: relative;
    }
    .o-vflex-sc.is--100vh.tab--py-150--hauto {
        height: 100vh;
    }
    .o-flex-ss__l840 {
        width: 55%;
        flex: none;
        position: relative;
        // display: none;
    }
    .o-l1232 {
        width: 950px;
        position: relative;
        &__layout {
            position: relative;
        }
    }
    .o-h2--white {
        color: #fff;
        margin-top: 0;
        margin-bottom: 0;
    }
    .o-l1232__layout.is--mt-60 {
        margin-top: 45px;
    }
    .o-h4--white {
        color: #fff;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 30px;
        font-weight: 400;
        line-height: 120%;
    }
    // .u-l1, .u-l2, .u-l3, .u-l4, .u-l5 {
    //     white-space: nowrap;
    //     display: block;
    // }
    .u-hscroll__s3__bg {
        z-index: 1;
        background-color: #151515;
        display: block;
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
        display: none;
    }
    .o-vflex-sc.is--100vh.tab--py-150--hauto {
        height: 100vh;
    }
    .o-vflex-sc {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        display: flex;
    }
}

@media screen and (max-width: 1280px) {
    .work {
        &-infos {
            .u-subt {
                font-size: 14px;
            }
        }
        &-infos-unit-subt {
            margin-top: 70px;
        }
        &-infos-left-line.u2, &-infos-left-line.u3, &-infos-left-line.u4 {
            height: 70%;
        }
    }
    .work-infos-txt p {
        font-size: 12px;
    }
}

@media screen and (max-width: 991.9px) {
    .c-p-inf-section-5.tab--py-150 {
        height: auto;
    }
    .work {
        overflow: hidden;
        .o-flex-ss__l840 {
            width: 100%;
        }
        .u-hscroll__s3__bg, .u-hscroll__s4__bg {
            display: block;
        } 
        .u-hscroll-wrapper {
            height: auto;
        }
        .o-l1232 {
            width: 100%;
        }
        .title-toggle {
            width: 80px;
        }
        &-title-link, &-title {
            h3 {
                font-size: 36px;
            }
        }
        &-infos {
            flex-wrap: wrap;
            &-wrap {
                width: 100%;
                padding-left: 0;
                padding-top: 0;
                padding-bottom: 0;
            }
            &-item {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin-bottom: 50px;
                padding-top: 50px;
                padding-bottom: 0;
                padding-right: 0;
            }
            &-txt {
                margin-top: 0;
                width: 50%;
            }
            &-left-line {
                height: 0;
            }
            .u-subt {
                font-size: 12px;
            }
        }
        &-title {
            &-wrap {
                flex-wrap: wrap;
                column-gap: 50px;
            }
            &-link-wrap {
                flex-wrap: wrap; 
            }
        }
    }
}

@media screen and (max-width: 767.9px) {
    .work {
        .o-h4--white {
            font-size: 25px;
        }
    }
    .c-p-inf-item__wrap {
        padding-bottom: 100px;
    }
    .c-p-inf-section-1 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .o-h4 {
        font-size: 25px;
    }
}


@media screen and (max-width: 640px) {
    .work {
        &-infos {
            .u-1-2 {
                left: 20%;
            }
            .u-1-3 {
                left: 50%;
            }
            .u-2-2 {
                left: 18%;
            }
            .u-2-3 {
                left: 45%;
            }
            .u-3-2 {
                left: 30%;
            }
            .u-3-3 {
                left: 45%;
            }
        }
        &-item.dev {
            .work-infos {
                .u-2-2 {
                    left: 25%;
                }
                .u-3-2 {
                    left: 25%;
                }
                .u-3-3 {
                    left: 45%;
                }
            }
        }
        &-infos-txt {
            width: 70%;
        }
        &-infos-wrap {
            flex-direction: column;
            gap: 25px;
        }
        &-infos-unit {
            width: 100%;
            border-bottom: 1px solid var(--mid-gray);
            &:last-child {
                border-bottom: none;
            }
            &-title {
                margin-left: 5px;
                padding: 5px 12px;
                border-radius: 5px;
                background: var(--mid-gray);
                font-size: 12px;
            }
            &-subt {
                margin-top: 25px;
                margin-bottom: 25px;
                margin-left: 0;
            }
        }
    }
    .c-p-inf-section-1 {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .work-infos-left-line.u2, .work-infos-left-line.u3, .work-infos-left-line.u4 {
        height: 0;
    }
}

@media screen and (max-width: 480px) {
    .work {
        .title-toggle {
            width: 65px;
            margin-left: 20px;
        }
        &-infos-txt {
            width: 100%;
        }
    }
}

@media screen and (max-width: 370px) {
    .work {
        &-title-link, &-title {
            h3 {
                font-size: 28px;
            }
        }
    }
}