@use 'utils/fonts';
@use 'utils/variables';
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
}
body {
    font-family: 'Stolzl';
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: var(--light-black);
}
.container {
    width: 100%;
    max-width: 1560px;
    padding-left: 72px;
    padding-right: 72px;
    margin: 0 auto;
    &.container-sm {
        max-width: 1200px;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img, svg, video  {
    max-width: 100%;
    max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0;
    span.gray {
        color: var(--grey);
    }
}

h1, .h1 {
    font-size: 6.5em;
    line-height: normal;
}

h2, .h2 {
    font-size: 64px;
    line-height: normal;
    &.imaged {
        .row {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 26px;
        }
    }
    &.h2-block {
        display: flex;
        flex-direction: column;
    }
    &-small {
        font-size: 24px;
    }
    &.h2-sm {
        font-size: 48px;
        line-height: normal;
    }
}

h3, .h3 {
    font-size: 32px;
    line-height: normal;
}

h4, .h4 {
    font-size: 28px;
    line-height: normal;
}

h5, .h5 {
    // font-size: 3em;
    font-size: 24px;
    line-height: normal;
}

.h1-other {
    font-size: 96px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    &__big {
        line-height: 1;
    }
    &__small {
        font-size: 24px;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }
}

.h2-block-wrap {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    .paragraph {
        font-weight: 500;
    }
}

.row {
    display: flex;
    gap: var(--gap);
    &.gap-1 {
        --gap: 1rem;
    }
    &.gap-2 {
        --gap: 2rem;
    }
    .w-full {
        width: 100%;
    }
    .w-1_3 {
        width: calc(33.33% - ((var(--gap) * 2) / 3));
    }
}

html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important; /* Отключаем нативный smooth behavior */
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden; /* Это нужно только когда ты программно стопаешь скролл (например, в модалке) */
}

.lenis.lenis-scrolling iframe {
    pointer-events: none; /* Улучшает производительность скролла над iframe */
}

.animation-arrow-up {
    position: relative;
    height: fit-content;
    &-main {
        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) translate(0, 0);
            opacity: 1;
            transition:
                transform 0.25s cubic-bezier(.4,0,.2,1),
                opacity 0.25s ease;
            transition-timing-function: cubic-bezier(.6,0,.4,1);
            &-out {
                transform: translate(-50%, -50%) translateY(0);
                opacity: 1;
            }
            &-in {
                transform: translate(-50%, -50%) translateY(14px);
                opacity: 0;
            }
        }
    }
    &.is-open {
        .animation-arrow-up-main {
            .icon {
                &-out {
                    transform: translate(-50%, -50%) translateY(-14px);
                    opacity: 0;
                }
                &-in {
                    transform: translate(-50%, -50%) translateY(0);
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    .container {
        padding-left: 60px;
        padding-right: 60px;
    }
    h1, .h1 {
        font-size: 6em;
    }
}

@media screen and (max-width: 1280px) {
    body {
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }
    .container {
        padding-left: 48px;
        padding-right: 48px;
    }

    h1, .h1 {
        font-size: 5.5em;
    }
    
    h2, .h2 {
        font-size: 52px;
        &.imaged {
            img {
                width: 110px;
            }
            .row {
                margin-top: 12px;
            }
        }
        &-small {
            font-size: 20px;
        }
        &.h2-sm {
            font-size: 42px;
        }
    }
    
}

@media screen and (max-width: 1024px) {
    .container {
        padding-left: 36px;
        padding-right: 36px;
    }
    h2, .h2 {
        font-size: 48px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
    h2, .h2 {
        &.h2-sm {
            font-size: 36px;
        }
    }
    h3, .h3 {
        font-size: 28px;
    }
}

@media screen and (max-width: 640px) {
    h3, .h3 {
        font-size: 26px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    h2, .h2 {
        &.h2-sm {
            font-size: 28px;
        }
    }
}